<div class="h-full flex flex-col items-center">
  <span class="text-white text-2xl">{{cocktailSource$ | async}}</span>
  <div class="w-full flex flex-col items-center gap-4 overflow-scroll no-scrollbar p-4 grow">
    <div class=" min-w-[300px] flex flex-col gap-4 overflow-y-visible
    ">

      <app-cocktail *ngFor="let cocktail of cocktails$ | async" [cocktail]="cocktail"
        [isFavorized]="isFavorized(cocktail)" (favorized)="onFavorizedToggle(cocktail, $event)"
        (added)="addCocktailToCart(cocktail)"></app-cocktail>

    </div>
  </div>

</div>


<ng-container #footer *cdkPortal>
  <div class="flex items-center h-[8vh]">
    <div class="flex-1 flex justify-center ">
      <app-trigger-favorites-list></app-trigger-favorites-list>
      <app-trigger-cocktail-list></app-trigger-cocktail-list>
    </div>
  
    <div class="flex-1 flex justify-center">
      <button mat-raised-button>
        Order Now
      </button>
    </div>
    
    <div class="flex-1 flex justify-center">
      <app-cart></app-cart>
    </div>
  </div>
</ng-container>

<ng-container #headerLeft *cdkPortal>
  
</ng-container>
