<div class="h-full flex flex-col pt-4">
  <div class=" text-center basis-[5%] text-white  text-2xl">{{cocktailSource$ | async}}</div>
 
  <div
    class="flex flex-col basis-[85%] self-center items-stretch overflow-scroll no-scrollbar p-4 gap-4  ">
    <app-cocktail *ngFor="let cocktail of cocktails$ | async" [cocktail]="cocktail"
      [isFavorized]="isFavorized(cocktail)" (favorized)="onFavorizedToggle(cocktail, $event)"
      (added)="addCocktailToCart(cocktail)"></app-cocktail>
  </div>

  <div class="flex items-center self-stretch basis-[10%] bg-neutral-lite dark:bg-neutral-dark">
    <div class="flex-1 flex justify-center ">
      <app-trigger-favorites-list></app-trigger-favorites-list>
      <app-trigger-cocktail-list></app-trigger-cocktail-list>
    </div>

    <div class="flex-1 flex justify-center">
      <app-button label="Order"></app-button>
    </div>

    <div class="flex-1 flex justify-center">
      <app-cart></app-cart>
    </div>
  </div>
</div>